* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

.bgHome{
  background-image: url(/assets/mountains-universe-home.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.bgUniverse{
  background-image: url(/assets/mountains-universe-universe.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.bgExploration{
  background-image: url(/assets/mountains-universe-exploration.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

nav {
  margin: 4rem 4rem 4rem 7.2rem;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

nav a {
  color: #8d8d99;
  text-decoration: none;
  font-size: 2.4rem;
}
nav img {
  height: 4.2rem;
  width: 4.9rem;
}

#home {
  color: #e1e1e6;
  display: grid;
  place-content: center;
  height: 70vh;
  justify-items: center;
  gap: 2.4rem;
}

#home h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

#home button {
  color: #FFFFFF;
  width: 19.5rem;
  height: 4.8rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .5rem;
  cursor: pointer;
}

a .selected {
  font-weight: bold;
  color: #FFFFFF;
}